
:local(.but){
    background-color: rgba(218,187,132,1);
    color: #fff;
    border:none;
}
:local(.ghost){
    color: rgba(218,187,132,1);
    background-color: transparent;
    border:1px solid rgba(218,187,132,1);
}

:local(.but):hover{
    opacity: 0.8;
}
:local(.ghost):hover{
    color:#fff;
    background-color: rgba(218,187,132,1);
}
:local(.but)[disabled]{
    background-color: #EDEDED;
    color: #989898;
    cursor: not-allowed!important;
}
:local(.disable){
    color: #989898;
    background-color: #ededed;
    border:1px solid #ededed;
    cursor: not-allowed;
}