:local(.wlop) a:hover{
    color: RGBA(218, 187, 132, .8);
}
:local(.wlop){
    width: 100%;
    background-color: #f6f6f6;
    padding: 40px 0;
}
:local(.wlopContent){
    width: 1200px;
    height: 568px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px;
    padding-top: 30px;
}

:local(.wlopContentC){
    font-size: 14px;
    padding-top: 30px;
    border-bottom: 1px solid #eee;
    font-weight: bold;

}
:local(.wlopContentC):after{
    content: '';
    clear: both;
    display: block;
}
:local(.wlopContentCTT){
    color: #2D313B;
    float: left;
    line-height: 36px;
}
:local(.wlopContentCTA){
    color: #DABB84;
    float: right;
    line-height: 36px;
}

:local(.wlopContentCC){
    color: #989898;
    display: block;
    margin-top: 5px;
}
:local(.wlopContentCB){
    margin-top: 40px;

}

:local(.wlopContentB){
    padding-top: 15px;
}
:local(.wlopContentCTH):after{
    display: block;
    clear: both;
    content: '';
}
:local(.TopTitle){
    font-size: 14px;
    font-weight: bold;
    color: #2d313b;
    display: block;
    line-height: 32px;
}
:local(.wlopContentCTHL){
    font-size: 18px;
    color: #2d313b;
    float: left;
}
:local(.wlopContentCTHR){
    font-size: 18px;
    color: #2d313b;
    float: right;
}
:local(.wlopContentCTHR) .ant-select-selection__rendered{
    line-height: 36px!important;
}
:local(.wlopContentCTHR) .ant-select-selection--single{
    height: 36px!important;
}
:local(.selectPart){
    margin-top: 20px;
    margin-bottom: 30px;
}
:local(.selectPart):after{
    clear: both;
    display: block;
    content: '';
}
:local(.selectPartItem){
    width: 220px;
    height: 140px;
    background-color: #f6f6f6;
    margin-right: 20px;
    float: left;
    position: relative;
    transition: all 0.3s;
}
:local(.selectPartItem):hover{

    opacity: 0.8;

}
:local(.selectPartItemW){
    width: 100%;
    line-height: 32px;
    display: block;
    background-color: #DABB84;
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
:local(.selectPartImg){
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.rongcloud-layer-body .rongcloud-form-item textarea, input[type=text] {
     width: 100%!important;
}

