:local(.wlop){
    margin-top: 5px;

}
:local(.wlop):after{
    clear: both;
    display: block;
    content: '';
}
:local(.ava){
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
    position: relative;
    /*filter: ;*/

}
:local(.cir){
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4ADB88;
    position: absolute;
    right: 0;
    bottom: 0;
}
:local(.ava)>img{
    width: 40px;
    height: 40px;
    border-radius: 50%
}
:local(.namebox){
    float: left;
    width: 125px;
}
:local(.name){
    font-size:14px;
    font-weight: bold;
    color:rgba(72,76,88,1);
    display: block;
}
:local(.line){
    font-size:14px;
    color:rgba(152,152,152,1);
    display: block;
}
:local(.payPart){
    width: 70px;
    float: left;

}
:local(.payPartItem){
    width: 16px;
    height: 16px;
    margin-left: 5px;
    float: right;
}
:local(.payPartItems){
    width: 68px;
    height: 18px;
    margin-top: 7px;
}