:local(.wlop){
    width: 100%;

    background-color: #f6f6f6;
    padding: 40px 0;
}
:local(.wlopContent){
    width: 1200px;
    margin: 0 auto;
}
:local(.wlopContent):after{
    content: '';
    clear: both;
    display: block;
}
:local(.alert){
    font-size: 14px;
    line-height: 22px;
    color: #2d313b;
}
:local(.wlopContent) .anticon-cross{
    line-height: 22px!important;
}
:local(.wlopContent) .ant-alert-close-icon{
    height: 22px!important;
}
:local(.wlopContent) .ant-alert-success{
    background-color: rgba(74,219,136,.4)!important;
    border-color: rgba(74,219,136,.4)!important;
}
:local(.wlopMContent){
    margin-top: 20px;
}
:local(.wlopMContentL){
    width: 350px;
    height: 726px;
    float: left;
    background-color: #fff;
    padding: 0 20px;

}
:local(.wlopMContentR){
    width: 830px;
    float: right;
}
:local(.wlopMContentH){
    width: 100%;
    height: 80px;
    float: right;
    background-color: RGBA(218, 187, 132, .3);
    padding: 0 20px;
    margin-bottom: 20px;
}
:local(.wlopMContentRC){
    width: 100%;
    height: 726px;
    float: right;
    background-color: #fff;
    padding: 0 20px;
    padding-top: 20px;
}

:local(.wlopMContentR) .ant-tabs-nav .ant-tabs-tab-active {
    color: #DABB84!important;
    font-weight: bold!important;
    font-size: 24px!important;
}
:local(.wlopMContentR) .ant-tabs-ink-bar{
    background-color: #DABB84!important;
    height: 4px!important;
}
:local(.wlopMContentR) .ant-tabs-nav .ant-tabs-tab:hover {
    color: #DABB84!important;
}
:local(.wlopMContentR) .ant-tabs-nav .ant-tabs-tab{
    font-size: 24px!important;
}
:local(.wlopMContentR) .ant-tabs-bar{
    border-bottom: 1px solid #eee!important;
}
:local(.wlopMContentR) .ant-tabs-nav .ant-tabs-tab{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-right: 40px!important;
}
:local(.wlopMContentHL){
    float: left;
}
:local(.wlopMContentHLT){
    padding-top: 10px;
}
:local(.wlopMContentHLT):after{
    content: '';
    clear: both;
    display: block;
}
:local(.wlopMContentHLTI){
    float: left;
    width: 27px;
    height: 34px;
}
:local(.wlopMContentHLTT){
    float: left;
    margin-left: 12px;
    line-height: 17px;
    color: #2D313B;
    font-size: 12px;
}
:local(.wlopMContentHLB){
    line-height: 24px;
    color: #989898;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
:local(.wlopMContentHR){
   float: right;
    padding-top: 25px;
}
:local(.wlopMContentHRC){
    width: 450px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #989898;
    line-height: 28px;
    font-size: 12px;
    padding-left: 12px;
    color: #989898;
}
:local(.but){
    margin-top: 20px;
    margin-left: 8px;
}
:local(.but) .ant-btn{
    width: 352px!important;
    height: 52px!important;
    background-color: #EBE15B!important;
    border-color: #EBE15B!important;
    color: #AA2B24!important;
    font-size: 18px!important;
}
:local(.but) .ant-btn:hover{

    background-color: RGBA(235, 225, 91, .8)!important;
    border-color: RGBA(235, 225, 91, .8)!important;
    color: RGBA(170, 43, 36, 1)!important;

}
:local(.awordBox){
    position: relative;
}
:local(.num){
    position: absolute;
    left: 63px;
    top: 150px;
    width: 240px;
    color: #AA2B24;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}
:local(.coin){
    position: absolute;
    left: 63px;
    top: 200px;
    width: 240px;
    color: #AA2B24;
    font-size: 25px;
    text-align: center;
}

