:local(.wlop){
    width: 100%;

    background-color: #f6f6f6;
    padding: 40px 0;
}
:local(.wlopContent){
    width: 1200px;
    margin: 0 auto;
}
:local(.wlopContent):after{
    content: '';
    clear: both;
    display: block;
}
:local(.alert){
    font-size: 14px;
    line-height: 22px;
    color: #2d313b;
}
:local(.wlopContent) .anticon-cross{
    line-height: 22px!important;
}
:local(.wlopContent) .ant-alert-close-icon{
    height: 22px!important;
}
:local(.wlopContent) .ant-alert-success{
    background-color: rgba(74,219,136,.4)!important;
    border-color: rgba(74,219,136,.4)!important;
}
:local(.wlopMContent){
    margin-top: 20px;
}
:local(.wlopMContentL){
    width: 350px;
    height: 726px;
    float: left;
    background-color: #fff;
    padding: 0 20px;

}
:local(.wlopMContentR){
    width: 830px;
    height: 726px;
    float: right;
    background-color: #fff;
    padding: 0 20px;
    padding-top: 20px;

}

:local(.header){
    font-size: 12px;
    color: #2d343b;
    line-height: 52px;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}
:local(.content){
    padding-top: 40px;
}
:local(.tuxing){
    width: 520px;
    height: 56px;
    position: relative;
}
:local(.inputp){
    height: 36px!important;
}
:local(.content) .ant-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px RGBA(218, 187, 132, .2);
}


:local(.content) .ant-input:focus, .ant-input:hover {
    border-color: RGBA(218, 187, 132, 1);
}
:local(.content) .ant-btn{
    border: 1px solid RGBA(218, 187, 132, 1)!important;
}
:local(.content) .ant-btn:focus, .ant-btn:hover{
    border: 1px solid RGBA(218, 187, 132, 1)!important;
}
:local(.but){
    margin-top: 20px;
}
:local(.butL){
    float: left;
    margin-right: 20px;
}