:local(.wlop){
    width: 100%;
    background-color: #f6f6f6;
    padding: 40px 0;
}

:local(.wlopContent){
    width: 1200px;
    height: 970px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px;
}
:local(.partOne){
    padding-top: 15px;
    margin-bottom: 20px;
}
:local(.partOneT){

    font-size: 18px;
    color: #2D313B;
    display: block;
    line-height: 28px;
}
:local(.partOneA){
    color: #DABB84;
}
:local(.partOneA):hover{
    color: RGBA(218, 187, 132, .8);
}

:local(.partOneC){
    font-size: 14px;
    color: #989898;
    display: block;
    line-height: 24px;
}

:local(.partOneC){

}
:local(.inp){
    width: 520px;
    margin-top: 5px;
}
:local(.tip){
    font-size: 14px;
    color: #989898;
    line-height: 36px;

}

:local(.red){
    color: #FF6060;
}



:local(.wlopContentC){
    font-size: 14px;
    padding-top: 30px;
    border-bottom: 1px solid #eee;
    font-weight: bold;

}
:local(.wlopContentC):after{
    content: '';
    clear: both;
    display: block;
}
:local(.wlopContentCTT){
    color: #2D313B;
    float: left;
    line-height: 36px;
}
:local(.wlopContentCTA){
    color: #DABB84;
    float: right;
    line-height: 36px;
}
:local(.inpTip){
    color: #2D313B;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
:local(.partOne) .ant-input-lg{
    height: 36px!important;
}
:local(.partOneImg){
    width: 240px;
    height: 240px;
    display: block;
}
:local(.but){
    margin-top: 40px;

}
:local(.but) .ant-btn-lg{
    height: 36px!important;
    width: 120px!important;
    background-color: #DABB84!important;
    border-color: #DABB84!important;
    color: #fff!important;
}
:local(.but) .ant-btn-lg:hover{
    opacity: 0.8;
}
