:local(.wlop){
    width: 100%;
    background-color: #f6f6f6;
    padding: 40px 0;
}
:local(.wlopContent){
    width: 1200px;
    margin: 0 auto;
    min-height: 600px;
    margin-bottom: 60px;
}
:local(.wlopContentH){
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    padding: 0 20px;
    padding-top: 20px;
}

:local(.headerC):after{
    clear: both;
    content: '';
    display: block;
}
:local(.header){
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}
:local(.headerTT){
    font-weight: bold;
    font-size: 24px;
    color: #2D313B;

}

:local(.back){
    line-height: 20px;
    color: #2D313B;
    font-weight: bold;
    float: right;
    margin-top: 20px;
    font-size: 14px;
}
:local(.look){
    line-height: 20px;
    color: #DABB84;
    float: right;
    margin-top: 60px;
    font-size: 14px;
    font-weight: bold;
}
:local(.look):hover{
    color: RGBA(218, 187, 132, .8);
}

:local(.headerCB){
    margin-top: 16px;
    line-height: 25px;
    color: #2D313B;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
:local(.headerCR){
    line-height: 18px;
    color:#989898;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
:local(.headerCL){
    float: left;
}
:local(.tableT){
    font-size: 14px;
    color: #989898;

}
:local(.content){
    padding-top: 10px;
}
:local(.tableName){
    color: #989898;
    font-weight: normal!important;
}

:local(.realTable) .ant-table-tbody>tr:nth-of-type(odd){
    width: 100%;
    height: 80px;
    background-color: #fff;
}
:local(.realTable) .ant-table-tbody>tr:nth-of-type(even){
    width: 100%;
    height: 80px;
    background:rgba(237,237,237,1);
}


:local(.realTable)  .ant-table-tbody>tr.ant-table-row-hover>td, .ant-table-tbody>tr:hover>td, .ant-table-thead>tr.ant-table-row-hover>td, .ant-table-thead>tr:hover>td {
    background: #fff!important;
}

:local(.realTable) .ant-table-pagination.ant-pagination{
    display: none;
}
:local(.realTable) .ant-table-thead>tr>th{
    color: #989898!important;
}

:local(.realTable) .ant-table-tbody>tr>td, .ant-table-thead>tr>th{
    padding-left: 20px!important;
    font-size: 14px!important;
}
:local(.realTable) .ant-table-tbody>tr>td{
    font-weight: bold!important;
}
:local(.realTable) .ant-table-tbody>tr>td:nth-child(2), .ant-table-thead>tr>th:nth-child(2) {
     padding-left: 20px!important;

}
:local(.contentInpBox){
    padding-top: 28px;
    margin-bottom: 10px;
}
:local(.contentInpBox):after{
    clear: both;
    content: '';
    display: block;
}
:local(.contentInpBoxH){

    font-size: 18px;
    color: #2D313B;
    line-height: 42px;
    border-bottom: 1px solid #eee;
}
:local(.contentInpBoxC){
    padding-top: 10px;
}
:local(.contentInpBoxS){
    display: block;
    font-size: 14px;
    color: #989898;
    line-height: 18px;
}
:local(.tableName)>img{
    margin-right: 4px;
    margin-top: 2px;
}
:local(.tableName)>img:nth-child(1){
    float: right;
    margin-right: 20px;
}
:local(.tableName)>img:nth-child(2){
    float: right;
}
:local(.tableName)>img:nth-child(3){
    float: right;
}
:local(.realTable) .ant-table-tbody>tr>td:last-child {
    padding: 0!important;

}
:local(.stateBox1){
    width: 48px;
    height: 80px;
    background-color: #FF6060;
    padding: 19px 8px;
    color: #fff;
    float: right;
    writing-mode:tb-rl;
    font-size: 14px;
    line-height: 16px;
}
:local(.stateBox2){
    width: 48px;
    height: 80px;
    background-color: #EAAF55;
    padding: 19px 8px;
    color: #fff;
    float: right;
    writing-mode:tb-rl;
    font-size: 14px;
    line-height: 16px;
}
:local(.stateBox3){
    width: 48px;
    height: 80px;
    background-color: #4ADB88;
    padding: 19px 8px;
    color: #fff;
    float: right;
    writing-mode:tb-rl;
    font-size: 14px;
    line-height: 16px;
}
:local(.red){
    color: #FF6060;
}
:local(.spanA){
    color: #2D313B;
    font-weight: bold;
}
:local(.spanA):hover{
    color: RGBA(72, 76, 88, .8);
}
:local(.gold){
    color: #DABB84;
    font-weight: bold;
}
:local(.gold):hover{
    color: RGBA(218, 187, 132, .8);
}
:local(.spanIcon){
    color: #2D313B;
}
:local(.butBox){
    margin-top: 50px;
}
:local(.butBox):after{
    clear: both;
    content: '';
    display: block;

}
:local(.but){
    float: left;
    margin-right: 20px;
}
:local(.but1){
    float: left;
    margin-right: 20px;
}
:local(.but1) .ant-btn{
    width: 160px!important;
    height: 36px!important;
    background-color: transparent!important;
    font-size: 14px!important;
    color: #989898!important;
}
:local(.but1) .ant-btn:hover,.ant-btn:focus{
    color:#DABB84!important;
    border-color: #DABB84!important;
}



