:local(.wlop){
    width: 100%;
    background-color: #f6f6f6;
    padding: 40px 0;
}
:local(.wlopContent){
    width: 1200px;
    height: 920px;
    margin: 0 auto;
}
:local(.header){
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
    font-weight: bold;
    color: #2D313B;
}
:local(.headerT){
    font-size: 24px;
    line-height: 24px;
    display: block;
}
:local(.headerC){
    font-size: 14px;
    line-height: 38px;
    display: block;
}
:local(.content){
    padding-top: 30px;
}
:local(.content) .ant-tabs-nav .ant-tabs-tab-active{
    color: #DABB84!important;
    font-weight: bold;
}
:local(.content) .ant-tabs-nav .ant-tabs-tab{
    padding: 8px 0!important;
    font-size: 18px;
    color: #2D313B;
}
:local(.content) .ant-tabs-ink-bar{
    background-color:  #DABB84!important;
}
:local(.content) .ant-tabs-nav .ant-tabs-tab:hover{
    color:  RGBA(218, 187, 132, .8)!important;
}

